<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <h1>Course</h1>
    {% for course in courses %}
        <p>course category: {{course.course_category.name}}</p>
        <hr>
        <p>course name: {{course.name}}</p>
    {% endfor %}

    <h1>Training course details</h1>
    {% for training_course_detail in training_course_details %}
        <p>Training course detail name:{{training_course_detail.name}}</p>
        <b>Training course name:{{training_course_detail.course}}</b>
        <br>
        <strong>Training course detail organization name {{training_course_detail.organization}}</strong>
    {% endfor %}

    <h1>Batch</h1>
    {% for batch in batches %}
       <p> {{batch.batch_name}}</p>
    {% endfor %}
</body>
</html>