<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <h1>Batch</h1>
    {% for batch in batches %}
       <h1> Batch Name : {{batch.batch_name}}</h1>
       <h1>Course Name: {{batch.training_course_detail.course.name}}</h1>
       <h1>Training course detail name: {{batch.training_course_detail.name}}</h1>

       {% for trainee in batch.trainee.all %}
        <h1>Trainee Name: {{trainee.name}}</h1>
       {% endfor %}


       {% for trainer in batch.trainer.all %}
        <h1>Trainer Name: {{trainer.name}}</h1>
       {% endfor %}

    {% endfor %}
</body>
</html>